.ColumnLayout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: -5px;
  margin-left: -5px;
  padding: 0;
}

.ColumnLayout_side_start {
  justify-content: flex-start;
}

.ColumnLayout_side_end {
  justify-content: flex-end;
}

.ColumnLayout_side_between {
  justify-content: space-between;
}

.ColumnLayout_padding_small {
  padding: 10px;
}

.ColumnLayout_padding_medium {
  padding: 20px;
}
.ColumnLayout_padding_none {
  padding: 0;
}

.ColumnLayout_gap_small {
  gap: 10px;
}

.ColumnLayout_gap_medium {
  gap: 20px;
}

.ColumnLayout_gap_none {
  gap: 0;
}

.ColumnLayout-item {
  margin: 0 5px;
}
