.Comment {
  --left: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: var(--left);
  font-size: 14px;
  line-height: 16px;
}

.Comment-head {
  display: flex;
  gap: 10px;
  font-size: 12px;
  line-height: 14px;
}

.Comment-name {
  font-weight: 700;
}

.Comment-datetime {
  color: #666666;
}

.Comment-deleted {
  margin: 0;
  color: #555555;
}

.Comment-answer {
  margin: 0;
  border: none;
  background: none;
  padding: 0;
  color: #0087e9;
  font-size: 12px;
  line-height: 14px;
}

.Comment-answer:hover {
  cursor: pointer;
}
